# ================== Переменные, которые нужно поменять на свои ==================

# Строка подключения для потребителя (consumer) RabbitMQ - адрес сервера очередей
# Формат: amqp://логин:пароль@хост:порт/
rmq_consumer_connection__uri=amqp://guest:guest@localhost:5672/

# Строка подключения для производителя (producer) RabbitMQ - отдельное соединение для отправки сообщений
rmq_producer_connection__uri=amqp://guest:guest@localhost:5672/

# Строка подключения к базе данных с использованием asyncpg (асинхронный драйвер для PostgreSQL)
# Формат: postgresql+asyncpg://логин:пароль@хост:порт/имя_базы
database_uri=postgresql+asyncpg://postgres:postgres@localhost:5432/potok


# ================== Переменные, которые можно оставить ==================

# Порт, на котором запускается FastAPI сервер для приема HTTP запросов
fastapi_server__port=5005

# Максимальное количество сообщений, которые потребитель может одновременно обрабатывать
# (неподтверждённые сообщения) — для контроля нагрузки и балансировки
rmq_consumer__prefetch_count=20

# Название очереди RabbitMQ, из которой читаются сообщения о статусе выполнения задач
rmq_task_run_execution_status_queue=potok.task.runs.status


# Название exchange (обменника), в который публикуются сообщения о запущенных задачах
rmq_producer_task_run__exchange_name=potok.task.runs.exchange

# Тип exchange (обменника): direct / topic / fanout / headers
# direct означает, что сообщение отправляется в очередь с точно совпадающим ключом маршрутизации
rmq_producer_task_run__exchange_type=direct
