{% extends "base.html" %}

{% block title %}Данные для сбора - Поток{% endblock %}
{% block extra_links %}

  <script src="/static/js/format_tools.js"></script>

{% endblock %}
{% block body %}


{% from "components/flow_table.html" import render_flow_table %}
<div class="flow-page">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0 fw-bold text-dark">Данные для сбора</h1>
    </div>
    <script>

  function renderRow(row) {
      let value = '<span class="text-muted">—</span>';
      if (row.data) {
        value = formatJsonAsHtml(row.data);
    }

    const payloadId = `<a href="/payloads/${row.id}" class="text-decoration-none fw-medium">#${row.id}</a>`
    return `<tr>
      <td class="ft-cell ft-cell--muted ft-cell--mono">${payloadId}</td>
      <td class="ft-cell ft-cell--muted ft-cell--mono">${row.checksum}</td>
      <td class="ft-cell ft-cell--bold">${value}</td>
    </tr>`;
  }

  </script>

      {{ render_flow_table(
          table_id   = "payloads_table",
          columns    = [
            { "key": "id",         "label": "ID",       "sortable": true,  "width": "72px" },
            { "key": "checksum",   "label": "Уникальный хеш",  "width": "290px"  },
            { "key": "value", "label": "Значение" },
          ],
          api_url      = "/payloads/json",
          row_template = "renderRow"
      ) }}

</div>
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}